body{
    padding: 0;
    margin: 0;
}

.map {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.widgets-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.zoom-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 10;
    opacity: 0.4;
    transition: 0.5s;
    &:hover{
        opacity: 1;
        transition: 0.5s;
    }
}


.search-container{
    display: flex;
}

.search-container i{
    align-self: center;
    padding: 2%;
}
.search-widget + input[type="text"] {
    padding: 10px; 
    margin-right: 10px; 
    background-color: #ffffff; 
    border: 1px solid #cccccc; 
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
    color: #333333; 
    width: 90%;
    box-sizing: border-box; 
}

.search-widget + input[type="text"]:focus {
    border-color: #0066ff; 
    outline: none; 
    box-shadow: 0 2px 4px rgba(0, 102, 255, 0.2); 
}

.search-widget button {
    padding: 5px;
}

.layer-selector-widget select {
    padding: 5px;
    width: 100%;
}


.sidebar h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333; 
  border-bottom: 2px solid #333; 
  padding-bottom: 5px;
}


.layer-list {

  list-style: none;
  padding: 1%;
  margin: 0;
}


.layer-list li {
  padding: 7%;
  border-bottom: 1px solid #ddd; 
  cursor: pointer; 
  display: flex;
  align-items: center; 
  justify-content: space-around;
  
}

.layer-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px; 
  fill: #666;
}


.layer-list li:active,
.layer-list li:hover {
  background: #e7e7e7;
}


.layer-list li,
.layer-icon {
  transition: all 0.3s ease;
}


.layer-list li:hover .layer-icon {
  fill: #333;
}

.interaction-container{
  display: flex;
  flex-direction: column-reverse;
  select{
    padding: 5%;
    border-radius: 2rem;
    border: #666 0.1px ;
    &:focus{
      border: #666 0.1px;
    }
  }
}